### 第2章

jupyter notebook上ではpandasを用いて行う。それとは別に、ターミナルでUNIXコマンドの操作を確認する。

ディレクトリ

In [2]:
import os
os.getcwd()

'c:\\Users\\fujii\\Desktop\\NLP100'

In [3]:
%pwd

'c:\\Users\\fujii\\Desktop\\NLP100'

In [2]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

#### 2.10

In [3]:
import pandas as pd #use pandas to read data

df = pd.read_csv('.\\data\\popular-names.txt', header=None)

len(df) #number of rows

2780

#### 2.11

In [5]:
import pandas as pd 

df = pd.read_csv('.\\data\\popular-names.txt', delimiter = '\t', header=None)
df.to_csv('.\\data\\popular-names_space.txt', sep = ' ', index=False, header=None)

In [6]:
space = pd.read_csv('.\\data\\popular-names_space.txt', header=None)
space

                          0
0          Mary F 7065 1880
1          Anna F 2604 1880
2          Emma F 2003 1880
3     Elizabeth F 1939 1880
4        Minnie F 1746 1880
...                     ...
2775  Benjamin M 13381 2018
2776    Elijah M 12886 2018
2777     Lucas M 12585 2018
2778     Mason M 12435 2018
2779     Logan M 12352 2018

[2780 rows x 1 columns]

### 2.12

In [8]:
df = pd.read_table('.\\data\\popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

col1 = df['name']
col1.to_csv('col1.txt', index=False)

print(col1.head())

0         Mary
1         Anna
2         Emma
3    Elizabeth
4       Minnie
Name: name, dtype: object

In [9]:
col2 = df['sex']
col2.to_csv('col2.txt', index=False)

print(col2.head())

0    F
1    F
2    F
3    F
4    F
Name: sex, dtype: object

### 2.13

In [10]:
col = pd.concat([col1, col2], axis=1)

col.to_csv('col_con12.txt', sep='\t', index=False)

In [11]:
print(col.head())

        name sex
0       Mary   F
1       Anna   F
2       Emma   F
3  Elizabeth   F
4     Minnie   F

### 2.14

In [12]:
def out_head(N):
    print(df.head(N))

out_head(5)

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

### 2.15

In [13]:
def out_tail(N):
    print(df.tail(N))

out_tail(5)

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018

### 2.16

In [18]:
def split_file(N):
    reset_df = df.reset_index()
    df_cut = pd.qcut(reset_df.index, N, labels=[i for i in range(N)])
    df_cut = pd.concat([df, pd.Series(df_cut, name='split')], axis=1)

    return df_cut

N = input('>> N = ')
df_cut = split_file(int(N))

print(df_cut['split'].value_counts())
print(df_cut.head())

split
0    278
1    278
2    278
3    278
4    278
5    278
6    278
7    278
8    278
9    278
Name: count, dtype: int64
        name sex  number  year split
0       Mary   F    7065  1880     0
1       Anna   F    2604  1880     0
2       Emma   F    2003  1880     0
3  Elizabeth   F    1939  1880     0
4     Minnie   F    1746  1880     0

### 2.18

In [27]:
unique_names = df['name'].unique()
unique_names.sort()

print(unique_names)

['Abigail' 'Aiden' 'Alexander' 'Alexis' 'Alice' 'Amanda' 'Amelia' 'Amy'
 'Andrew' 'Angela' 'Anna' 'Annie' 'Anthony' 'Ashley' 'Austin' 'Ava'
 'Barbara' 'Benjamin' 'Bertha' 'Bessie' 'Betty' 'Brandon' 'Brian'
 'Brittany' 'Carol' 'Carolyn' 'Charles' 'Charlotte' 'Chloe' 'Christopher'
 'Clara' 'Crystal' 'Cynthia' 'Daniel' 'David' 'Deborah' 'Debra' 'Donald'
 'Donna' 'Doris' 'Dorothy' 'Edward' 'Elijah' 'Elizabeth' 'Emily' 'Emma'
 'Ethan' 'Ethel' 'Evelyn' 'Florence' 'Frances' 'Frank' 'Gary' 'George'
 'Hannah' 'Harper' 'Harry' 'Heather' 'Helen' 'Henry' 'Ida' 'Isabella'
 'Jacob' 'James' 'Jason' 'Jayden' 'Jeffrey' 'Jennifer' 'Jessica' 'Joan'
 'John' 'Joseph' 'Joshua' 'Judith' 'Julie' 'Justin' 'Karen' 'Kathleen'
 'Kelly' 'Kimberly' 'Larry' 'Laura' 'Lauren' 'Liam' 'Lillian' 'Linda'
 'Lisa' 'Logan' 'Lori' 'Lucas' 'Madison' 'Margaret' 'Marie' 'Mark' 'Mary'
 'Mason' 'Matthew' 'Megan' 'Melissa' 'Mia' 'Michael' 'Michelle' 'Mildred'
 'Minnie' 'Nancy' 'Nicholas' 'Nicole' 'Noah' 'Oliver' 'Olivia' 'Pamela'
 'Patricia' 'Rachel' 'Rebecca' 'Richard' 'Robert' 'Ronald' 'Ruth'
 'Samantha' 'Sandra' 'Sarah' 'Scott' 'Sharon' 'Shirley' 'Sophia'
 'Stephanie' 'Steven' 'Susan' 'Tammy' 'Taylor' 'Thomas' 'Tracy' 'Tyler'
 'Virginia' 'Walter' 'William']

### 2.18

In [31]:
df.sort_values(by=['number'], ascending=False, inplace=True)
print(df.head())

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947

### 2.19

In [32]:
df['name'].value_counts()

name
James      118
William    111
Robert     108
John       108
Mary        92
          ...
Julie        1
Laura        1
Walter       1
Lori         1
Rachel       1
Name: count, Length: 136, dtype: int64